{% extends 'base_add.html' %}
{% block body %}
{% load bootstrap4 %}

    <div class="container form">
        <h1><center> اضف طالبا</center></h1>
        <form method="post" style="text-align: right;" enctype="multipart/form-data">
     {% comment %} {% load bootstrap4 %} {% endcomment %}
        {% csrf_token %}
        {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary mt-3">اضف</button>
 </form>
 </div>
<script>
    mychek = document.getElementById('id_bus_subscriber');
    the_bus = document.getElementById('id_price_of_bus');
    sick = document.getElementById('id_sick');
    sick_kind = document.getElementById('id_kind_of_sick');

    function the() {
        if (mychek.checked) {
            the_bus.style.display = 'inline';
            the_bus.previousElementSibling.style.display = 'inline';
        } else {
            the_bus.style.display = 'none';
            the_bus.previousElementSibling.style.display = 'none';
            console.log('not checked');
        };
    };
    function sicks() {
        if (sick.checked) {
            sick_kind.style.display = 'inline';
            sick_kind.previousElementSibling.style.display = 'inline';
        } else {
            sick_kind.style.display = 'none';
            sick_kind.previousElementSibling.style.display = 'none';
            console.log('not checked');
        };
    };
    the();
    sicks();
    mychek.addEventListener('change', the);
    sick.addEventListener('change', sicks);
</script>
{% endblock body %}