{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>عدد الغائبين: <span class="text-info">{{count}}</span></h1>
  <div class="row">
    <form class="col-6">
        {% csrf_token %}
        <table>{{filter.form.as_table}}</table>
            <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>
    <div class="col-6 text-end align-self-end">
      <a href="{% url 'app:add_absence' %}" class="btn btn-primary">اضف غائبا</a>
    </div>
  </div>
    <table class="table mt-4">
        <thead>
            <tr class="text-info">
              <th scope="col">الاسم</th>
              <th scope="col">بعذر</th>
              <th scope="col" class="d-none d-sm-table-cell">التاريخ</th>
              <th scope="col">تعديل</th>
              <th scope="col">حذف</th>
            </tr>
          </thead>
        {% for absences in absences %}
        <tr>
            <th scope="row"><a href="{% url 'app:absence_detail' absences.id %}" class="link-info">{{absences}}</a></th>
            {% if absences.excuse == True %}
                <td>نعم</td>
            {% else %}
                <td>لا</td>
            {% endif %}
            <td class="d-none d-sm-table-cell">{{absences.created|date:"j/n/Y"}}</td>
            <td><a href="{% url 'app:edit_absence'  absences.id %}" class="btn btn-primary">تعديل</a></td>
            <td><a href="{% url 'app:delete_absences'  absences.id %}" class="btn btn-danger">حذف</a></td>
          </tr>
        {% endfor %}

        </tbody>
      </table>


      <div class="row">
        <div class="col text-center">
          <button onclick="window.print()" class="btn btn-primary col-4">طباعة الغائبين</button>
        </div>
      </div>

    {% if absences.has_other_pages %}
    <nav aria-label="Page navigation example mt-5">
        <ul class="pagination">
        {% if absences.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{absences.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
        {% endif %}
            {% for i in absences.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endfor %}
            {% if absences.has_next %}
                <li class="page-item">
                <a class="page-link" href="?page={{absences.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endif %}
</div>
{% endblock %}