{% extends 'short_base.html' %}
{% block body %}
<style>
    .border {
        border: 2px solid #000;
        border-radius: 12px;
        padding: 20px;
        background-color: #343a40;
        color:#fff;
        margin-top: 10rem;
        box-shadow: 7px 7px 5px 4px rgba(0, 0, 0, 0.21);
    }
    @media print {
    .btn{
        display: none;
    }
</style>
<div class="container mt-4">
    {% for absence in absence %}
    <div class="row border text-lg-start text-sm-center">
        <h2 class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6"><span class="text-info">الإسم:</span>{{absence.name}}</h2>
        <h2 class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6"><span class="text-info">بعذر:</span>{{absence.excuse}}</h2>
        <h2 class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6"><span class="text-info">التاريخ:</span>{{absence.created|date:"j/n/Y"}}</h2>
    </div>
        <div class="row">
            <div class="col-6"><a href="{% url 'app:edit_absence'  absence.id %}" class="btn btn-primary">تعديل معلومات الغائب</a></div>
            <div class="col-6 text-end align-self-end"><a href="{% url 'app:delete_absences'  absence.id %}" class="btn btn-danger">حذف معلومات الغائب</a></div>
        </div>
    {% endfor %}

</div>
{% endblock %}