{% extends 'base.html' %}
{% block body %}
  <style>
    @media print {
      .navigation{
        display: none;
      }
      .dis {
        display: none;
      }
      .btn {
        display: none;
      }
      a{
        text-decoration: none;
      }
    }
  </style>
<div class="dis">
  <div class="container ">
    <h1>عدد الفصول: <span class="text-info">{{count}}</span></h1>
  </div>
  <div class="container ">
    <div class="row">
      <form class="col-6">
        {% csrf_token %}
        <table>{{filter.form.as_table}}</table>
        <button type="submit" class="btn btn-primary">بحث</button>
      </form>
      <div class="col-6 text-end align-self-end">
        <a href="{% url 'app:add_class' %}" class="btn btn-primary">اضف فصلا</a>
      </div>
    </div>
  </div>
</div>
    <table class="table container mt-3">
        <thead>
          <tr class="text-info">
            <th scope="col">اسم الفصل</th>
            <th scope="col" class="d-none d-sm-cell-table">المعلم</th>
            <th scope="col" class="dis">تعديل</th>
            <th scope="col" class="dis">حذف</th>
          </tr>
        </thead>
        <tbody>
        {% for classes in classes %}
          <tr>
            <th scope="row"><a href="{% url 'app:class_detail' classes.id %}" class="link-info">{{classes}}</a></th>
            <td class="d-none d-sm-cell-table">{{classes.techer}}</td>
            <td><a href="{% url 'app:class_edit'  classes.id %}" class="btn btn-primary">تعديل</a></td>
            <td><a href="{% url 'app:delete_class'  classes.id %}" class="btn btn-danger">حذف</a></td>
          </tr>
        {% endfor %}

        </tbody>
      </table>


    <!-- <div class="container"> -->
        {% if classes.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if classes.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{classes.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                {% endif %}
                    {% for i in classes.paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endfor %}
                    {% if classes.has_next %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{classes.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
    {% endif %}
    <!-- </div> -->

    <div class="row mb-5">
      <div class="col text-center">
        <button onclick="window.print()" id="ddds" class="btn btn-primary col-4">طباعة الفصول</button>
      </div>
    </div>
  <!-- </div> -->

{% endblock body %}