{% extends 'short_base.html' %}
{% block body %}
<div class="container mt-4">
    <style>
        .border {
            border: 2px solid #000;
            border-radius: 12px;
            padding: 20px;
            background-color: #343a40;
            color: #fff;
            margin-top: 10%;
            box-shadow: 7px 7px 5px 4px rgba(0, 0, 0, 0.21);
        }
        @media print {
        .btn{
            display: none;
        }
      </style>
    {% for driver in driver %}
    <div class="row border">
        <h2 class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6"><span class="text-info">الإسم:</span>{{driver}}</h2>
        <h2 class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6"><span class="text-info">الرقم القومي:</span>{{driver.number_kawme}}</h2>
        <h2 class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6"><span class="text-info">الراتب:</span>{{driver.Salary}}</h2>
        <h2 class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6"><span class="text-info">رقم الهاتف:</span>{{driver.number_phone}}</h2>
        <h2 class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6"><span class="text-info">التاريخ:</span>{{driver.date|date:"j/n/Y"}}</h2>
    </div>
    <div class="row">
        <div class="col-6"><a href="{% url 'app:edit_driver'  driver.id %}" class="btn btn-primary">تعديل السائق</a></div>
        <div class="col-6 text-end align-self-end"><a href="{% url 'app:delete_driver'  driver.id %}" class="btn btn-danger">حذف السائق</a></div>
    </div>
</div>

{% endfor %}
{% endblock %}