{% extends 'base.html' %}
{% block body %}
<style>
    @media print {
        .hid,form,.btn{
            display: none;
        }
    }
</style>
  <div class="container">
    <h1>عدد المصروفات: <span class="text-info">{{count}}</span></h1>
  </div>
  <div class="container">
    <div class="row">
      <form class="col-6">
        {% csrf_token %}
        <table>{{filter.form.as_table}}</table>
            <button type="submit" class="btn btn-primary">بحث</button>
      </form>
      <div class="col-6 text-end align-self-end">
        <a href="{% url 'app:add_masrof' %}" class="btn btn-primary">أضف مصروفا</a>
      </div>
    </div>



  </div>
    <table class="table container mt-3">
        <thead>
          <tr class="text-info">
            <th scope="col">المصروف</th>
            <th scope="col">السعر</th>
            <th scope="col">التاريخ</th>
            <th scope="col" class="hid">تعديل</th>
            <th scope="col" class="hid">حذف</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for masrofs in masrofs %}
          <tr>
            <th scope="row"><a href="{% url 'app:masrof_detail' masrofs.id %}">{{masrofs}}</a></th>
            <td>{{masrofs.price}}</td>
            <td>{{masrofs.date|date:"j/n/Y"}}</td>
            <td><a href="{% url 'app:edit_masrof' masrofs.id %}" class="btn btn-primary">تعديل</a></td>
            <td><a href="{% url 'app:delete_masrof'  masrofs.id %}" class="btn btn-danger">حذف</a></td>
          </tr>
        {% endfor %}

        </tbody>
      </table>


    <!-- <div class="container"> -->
        {% if masrofs.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            {% if masrofs.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?page={{masrofs.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
            {% endif %}
                {% for i in masrofs.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endfor %}
                {% if masrofs.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{masrofs.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    <!-- </div> -->

    <div class="row">
      <div class="col text-center">
        <button onclick="window.print();" class="btn btn-primary col-4">طباعة المصروفات</button>
      </div>
    </div>
  <!-- </div> -->

{% endblock body %}