{% extends 'short_base.html' %}
{% block body %}
{% load bootstrap4  %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_techer').select2();
        });
    </script>
</head>
<body>
 <div class="container form mt-3">
 <center><h1>عدل بيانات فصل</h1></center>
 <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% comment %} <table>{{form.as_table}}</table> {% endcomment %}
            <button type="submit" class="btn btn-primary mt-3">عدل</button>
 </form>
 </div>
 {% endblock body %}